<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/music_form.css" rel="stylesheet"/>
    <title>Music Maker</title>
</head>
<body>
<h1>User Music</h1>

<table class="music-table">
    <thead>
    <tr>
        <th>Idx</th>
        <th>Audio Name</th>
        <th>Audio</th>
        <th>Download</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="content,status : ${userContent}" class="music-item">
        <td th:text="${status.count}"></td>
        <td th:text="${content.getFileName()}"></td>
        <td>
            <audio controls th:if="${content.isExpired()}">
                <source th:src="${content.getUrl()}" type="audio/wav">
            </audio>
            <p th:else>Is Expired</p>
        </td>
        <td>
            <a th:href="${content.getUrl()}" th:if="${content.isExpired()}">다운로드</a>
            <p th:else>Is Expired</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
